body {
  margin: 10px;
}
.a4-page {
  width: 600px;
  min-height: 1000px;
  margin: 20px auto;
  border: 2px solid #222;
  background: #fff;
  padding: 40px 30px;
  box-sizing: border-box;
}
#hr1 {
  margin-top: 50px;
  margin-left: 6px;
  margin-right: 30px;
  height: 4px;
  background: black;
  border: none;
}
main {
  margin-left: 10px;
}
.heading {
  color: rgb(33, 170, 15);
}
.miniheading {
  color: rgb(45, 45, 230);
}